section.become_wrapper.clearfix
	.become_left#where.col-md-12.col-xs-24.vert-center
		img.become_img.become_img-left(src="img/become_back-1.png")
		.become_content
			h1.become_title.title="where to buy?"
			p.become_desc="Find a store near you"
			a.button.main_button.become_button(href="search.html")
				span.button_text="search"
	.become_right#become.col-md-12.col-xs-24.vert-center
		img.become_img.become_img-right(src="img/become_back-2.png")
		.become_content
			h1.become_title.title="become a retailer"
			p.become_desc="Become a retailer of Aurora Couture in your city"
			p.button.main_button.become_button.contact_us
				span.button_text="contact us"